/* 
    Document   : default
    Created on : Mar 11, 2013, 5:50:34 PM
    Author     : John Yeary <jyeary@bluelotussoftware.com>
    Description:
        Purpose of the stylesheet follows.
*/

.formatted { 
    background-color: yellow;
    color:blue;
    font-size: 32px;
    font-weight: bold;
}

