<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:metadata>
        <f:viewParam name="color" value="color:blue;"/>
    </f:metadata>
    <h:outputStylesheet name="default.css" library="css"/>
    <h:head>
        <title>Index</title>
    </h:head>
    <h:body>
        <a class="formatted" href="faces/other.xhtml">Other</a>
        <br/>
        <h:link disabled="true" value="X" styleClass="formatted" 
                outcome="other"/>
        <br/>
        <h:link rendered="false" value="Y" outcome="other"/>
        <br/>
        <h:link value="Press CTRL+ALT+M" accesskey="M" outcome="#{indexBean.requestURL}" 
                styleClass="formatted"/>
        <br/>
        <h:link value="Z" outcome="other" />
        <br/>
        <h:link accesskey="E" outcome="other" includeViewParams="true"/>
    </h:body>
</html>